body{
    height: 100%;
    margin: 0;
    background-color: aliceblue;
}

h1{

     
}

.mainpage {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
   
    margin-bottom: 40px;
    align-content: center;
    
}
@media screen and (min-width: 900px) {
    .mainpage {
      margin-left: 15%; 
      margin-right: 15%;
    }
  }

.browse{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 50px;
    
    
}


.service_header, .contractor_list{
    width: 900px; 
    height: 50px;
    padding-bottom: 15px; 
    
    padding-left: 40px;
    margin: auto;
    
    background-color:rgb(4, 6, 56);
    color: white;
    display: flex;
    
   

    
    
    
}
.doll_and_list {
    
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 400px;
    margin: auto;
     
    

}

.dollhouse {
    display: flex;
    width: 400px;
    height: 400px;
    float: left; 
    max-width: 800px;
}

.doll-buttons {
    position: absolute;
    
}

.doll-kitchen button{
    background-color: red;
    width: 40px; 
    height: 60px; 
    position: absolute; 
}

.dollImg {
    display: flex; 
    height: 65%; 
    margin-left: 20px;
}

.serviceList{
    
    
    max-width: 800px;
    display: flex; 
    padding-top: 20px;
    float: right; 
    


}

.list{
    display: flex; 
    flex-direction: row; 
    font-size: 16px;
}

.slist.left{
    list-style-type: none;
    display: table; 
    clear:both; 
    float: left; 
    position: relative; 
    
}
.slist.right{
    list-style-type: none;
    display: table; 
    clear: both; 
    float: right; 
    position: relative;
    
}

.results {
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.clisting{
    width: 800px;
    height: 400px;
    margin: 40px;
}

.sort{

    background-color: rgba(6, 62, 126, 0.212);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 50%;
    padding-left: 20px;
    padding-right: 10px;
    color: black;
    display:flex;
    flex-direction: row;
    align-items: start;
    
    

}

.sort_options {
    margin-top: 18px;
    margin-left: 60px;
    display:flex;
    flex-direction: row;
    
    justify-content: space-between;

}

.sort-dropdown {
    padding-left: 10px;
    justify-content: space-between;
    

}



.item{
    padding-bottom: 5px;
}



.quoteButton{
    width:50px; 
}

