body{
  height: 100%;
  margin: 0;
  background-color: aliceblue;
}


ul li{
  text-indent: 0;
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

.mainpage {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
 font-weight:100;

  margin-bottom: 40px;
  align-content: center;
  height: 100%; 
  
}
@media screen and (min-width: 900px) {
  .mainpage {
    margin-left: 15%; 
    margin-right: 15%;
  }
}

.browse{
  align-items: center;
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  padding-top: 50px;
  width: 100%; 
  
  
}

.breadcrumb{
  display: flex;
  flex-direction: row;
  justify-content:left;
  /* align-items: flex-start; */
  text-align: left;
}

.navDiv {
display: flex;
margin-bottom: 100px;
}


.service_header, .contractor_list{
  /* width: 80%; 
  height: 50px;
  padding-bottom: 15px; 
  
  padding-left: 40px;
  /* margin: auto; */
  
  /* background-color:rgb(4, 6, 56);
  color: white;
  display: flex;
  align-items: normal; */ 
  
  /* margin-top: 35px; */
/* background-color:rgb(4, 6, 56);
color: white; */
  background-color: rgb(4,6,56) ; 
  border: none;
  /* border-radius: 5px; */
  /* margin-top: 10px; */
  /* margin-right: 30%; */
  width: 100%; 
  /* padding-left: 20px; */
  padding-right: 15px;
  margin-bottom: 10px;
  color: white;
  display:flex;
  flex-direction: row;
  font-weight: lighter; 
  padding-left: 15px; 
  /* padding-top: 2px; 
  padding-bottom: 2px; */
  /* justify-content: space-between; */
  /* align-items: start; */
 
}

.service_header{
/* padding-right:10px; */
margin-left: 10px;
margin-right: -25px;
}

.doll_and_list {
  width:100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: auto;
  
   
  

}

.dollhouse {
  padding-top: 20px;
  display: flex;
  width: 400px;
  height: 400px;
  float: left; 
  max-width: 800px;
}

.doll-buttons {
  position: absolute;

}




.dollImg {
  display: flex; 
  height: 65%; 
  margin-left: 20px;
}
.doll-kitchen{
  margin-top: 182px;
  margin-left: 210px;
  background-color: transparent;
  border: none;
  width: 105px; 
  height: 68px; 
  display: flex;
  position: absolute; 
  text-align: center;
  padding-top: 13px;
  padding-left: 25px;
  font-size: medium;
  transition-duration: 0.2s;
  color:transparent; 
  
}

.doll-kitchen:hover{
  
  background-color:  rgba(128, 128, 128, 0.5);
  color: rgba(0, 0, 0, 1); 
  font-weight: bold;
  
  
}


.doll-kitchen           :focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #5a01a7;
}

.doll-bathroom{
  margin-top: 182px;
  margin-left: 112px;
  background-color: transparent;
  border: none;
  width: 95px; 
  height: 68px; 
  display: flex;
  position: absolute; 
  text-align: center;
  padding-top: 23px;
  padding-left: 13px;
  font-size: medium;
  transition-duration: 0.2s;
  color:transparent;
}

.doll-bathroom:hover{
  background-color:  rgba(128, 128, 128, 0.5);
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

.doll-utility{
  margin-top: 182px;
  margin-left: 40px;
  background-color: transparent;
  border: none;
  width: 68px; 
  height: 68px; 
  display: flex;
  position: absolute; 
  text-align: center;
  padding-top: 23px;
  padding-left: 13px;
  font-size: medium;
  transition-duration: 0.2s;
  color:transparent;
}

.doll-utility:hover{
  background-color:  rgba(128, 128, 128, 0.5);
  color: rgba(0, 0, 0, 1); 
  font-weight: bold;
}

.doll-bathroom2{
  margin-top: 90px;
  margin-left: 246px;
  background-color: transparent;
  border: none;
  width: 68px; 
  height: 88px; 
  display: flex;
  position: absolute; 
  text-align: center;
  padding-top: 40px;
  padding-left: 6px;
  font-size: small;
  transition-duration: 0.2s;
  color:transparent;
}

.doll-bathroom2:hover{
  background-color:  rgba(128, 128, 128, 0.5);
  color: rgba(0, 0, 0, 1); 
  font-weight: bold;
}

.doll-nursery{
  margin-top: 108px;
  margin-left: 146px;
  background-color: transparent;
  border: none;
  width: 95px; 
  height: 70px; 
  display: flex;
  position: absolute; 
  text-align: center;
  padding-top: 25px;
  padding-left: 16px;
  font-size: medium;
  transition-duration: 0.2s;
  color:transparent;
}

.doll-nursery:hover{
  background-color:  rgba(128, 128, 128, 0.5);
  color: rgba(0, 0, 0, 1); 
  font-weight: bold;
}

.doll-bedroom{
  margin-top: 95px;
  margin-left: 40px;
  background-color: transparent;
  border: none;
  width: 102px; 
  height: 83px; 
  display: flex;
  position: absolute; 
  text-align: center;
  padding-top: 33px;
  padding-left: 18px;
  font-size: medium;
  transition-duration: 0.2s;
  color:transparent;
}

.doll-bedroom:hover{
  background-color:  rgba(128, 128, 128, 0.5);
  color: rgba(0, 0, 0, 1); 
  font-weight: bold; 
}

.doll-attic{
  background-color: transparent;
  margin-top: 37px;
  margin-left: 54px;
  /* background-color: red; */
  transform: rotate(-45deg);
  border-left:58px solid transparent;
  border-right: 58px solid transparent;
  border-bottom: transparent;
  border-top: 58px solid transparent; 
  width: 0; 
  height: 0; 
  display: flex;
  position: absolute; 
  text-align: center;
  /* padding-top: 45px;
  padding-left: 50px; */
  font-size: medium;
  transition-duration: 0.2s;
  color:transparent;

  
    
}

.doll-attic:hover{
  
  color: rgba(0, 0, 0, 1); 
  font-weight: bold;
  border-top-color: rgba(128, 128, 128, 1);
}

.doll-attic-text{
  margin-top: 33px;
  margin-left: 70px;
  background-color: transparent;
  border: none;
  /* transform: rotate(-45deg);
  border-left:58px solid transparent;
  border-right: 58px solid transparent;
  border-bottom: transparent;
  border-top: 58px solid transparent; 
  width: 0; 
  height: 0;  */
  
  display: flex;
  position: absolute; 
  text-align: center;
  padding-top: 33px;
  padding-left: 18px;
  font-size: medium;
  transition-duration: 0.2s;
  color:transparent; 
}
.doll-attic-text:hover{
  color: rgba(0, 0, 0, 1); 
  font-weight: bold;
  border-top-color: rgba(128, 128, 128, 0.5); 
}

.doll-office{
  margin-top: 36px;
  margin-left: 146px;
  background-color: transparent;
  border: none;
  width: 95px; 
  height: 68px; 
  display: flex;
  position: absolute; 
  text-align: center;
  padding-top: 25px;
  padding-left: 25px;
  font-size: medium;
  transition-duration: 0.2s;
  color:transparent;
}

.doll-office:hover{
  background-color:  rgba(128, 128, 128, 0.5);
  color: rgba(0, 0, 0, 1); 
  font-weight: bold;
}



.serviceList{
  
  
  max-width: 800px;
  display: flex; 
  flex-direction: column;
  padding-top: 0px;
  float: right; 
  margin-left: 100px;
  font-size: 16px;
  text-indent: 0;
  


}

.browseAll {
  margin-left: 40px;
}

.list{
  display: flex; 
  flex-direction: row; 
  font-size: 16px;
  margin-left: -40px; 
}

.slist{
  display: flex; 
  flex-direction: column; 
  font-size: 16px; 
}

.slist.left{
  list-style-type: none;
  display: table; 
  clear:both; 
  float: left; 
  position: relative; 
  
}
.slist.right{
  list-style-type: none;
  display: table; 
  clear: both; 
  float: right; 
  position: relative;
  
}

.item{
  padding-bottom: 5px;
  list-style-type: none;
  display: table; 
  clear: both;
  text-indent: 0; 
}
.item:hover{
  color:rgb(141,27,5);
  font-weight: bold;
}

.results {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  width: 100%;

  
}


.clist{
  text-indent: 0;
  /* list-style-position: inside; */
  width: 100%;
  margin-left: -20px;
  /* padding-right: 40px;  */
  margin-right: -20px; 
  
 
}

.clisting{
  list-style-type: none;
  display: flex;
  flex-direction: row; 
  clear: both;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 10px;
  /* border-radius: 5px; */
  background-color: rgba(6, 62, 126, 0.212);
  text-indent: 0; 
  width: 100%;
  padding-right: 20px;
  /* padding-bottom: 10px; */
}
.clisting1{
  list-style-type: none;
  display:flex;  
  flex-direction: row; 
  justify-content: space-between;
  clear: both;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  /* margin-right: 20px; */
  padding-left: 10px;
  /* padding-right:-10px;  */
  /* border-radius: 5px; */
  background-color: rgba(6, 62, 126, 0.212);
  text-indent: 0; 
  width: 100%;
  /* padding-right: 30px; */
  
}
.clistingName {
  /* margin-left: -50px; */
  /* margin-right: 55%; */
  display: flex;
}
.clistingName:hover {
color: rgb(141,27,5);
}
#c1 {
color:black; 
}
#c1:hover{
color: rgb(141,27,5); 
}

#c1.visited{
color:#5a01a7; 
}

.c-info{
  width: 100%; 
  height: 200px; 
  background-color: transparent;
  padding-left: 10px; 
  /* padding-bottom: 10px; */
  margin-right: 10px;
  margin-bottom: -5px;
}

.description{
display: block;
min-height:78px; 
max-height: 78px;
}

.listing-img{
  display: flex; 
  float: left; 
  width: 200px; 
  height: 200px; 
  margin-left: 20px; 
  margin-top: 20px; 
  margin-bottom: 20px;
  border-radius: 5px;
  /* margin-right:20px;  */
  /* padding-right: 20px; */
}

.c-listing-buttons{
  display: flex;
  flex-direction: row;
  /* margin-bottom: -20px; */
  /* align-items: flex-start; */
  /* justify-content:right; */
  
}

.listingbuttons{
margin-right: 10px; 
}

.important-btns{
padding-top: 20px;
display: flex;
/* justify-content: space-between; */
size: 100%;
}
.important-btns button{
max-width: 100%;
color: white;
font-weight: bold;
height: 35px;
border-radius: 5px;
border: none;
cursor: pointer;
width: 120px;
background-color: #c2452d;
font-size: 15px;
}
.important-btns button:hover{
background-color: white;
color: #c2452d;
transition: 0.3s;
}
.important-btns button:active{
background-color: rgb(141, 27, 5);
color: white;
}
.important-btns button:last-child {
margin-right: 0;
}



.cIconInfo{
/* width: 40%;  */
display: flex;
flex-direction: row;
/* justify-content: flex-end; */
float:left;
margin-right:20px; 


}
.price{
  margin-right: 30px; 
  margin-top: 20px; 
}

.c-rating{
  /* align-items: self-end; */
  margin-left: 20px;
  margin-top: 7px; 
  margin-right: 40px; 
  /* width: 20%;  */
  /* justify-content: right; */
}
.c-rating i{
  color: rgb(255, 123, 0);
  font-size: 15px;
}

#heart {
  margin-top: 12px; 
  color: grey;  
  font-size: 30px;
}

#heart.red {
  color: rgb(163, 7, 7);
}

#heart1 {
  margin-top: 15px; 
  color: grey;  
  font-size: 30px;
}

#heart1.red {
  color: rgb(163, 7, 7);
}

#heart2 {
  margin-top: 15px; 
  color: grey;  
  font-size: 30px;
}

#heart2.red {
  color: rgb(163, 7, 7);
}

#heart3 {
  margin-top: 15px; 
  color: grey;  
  font-size: 30px;
}

#heart3.red {
  color: rgb(163, 7, 7);
}

#heart4 {
  margin-top: 15px; 
  color: grey;  
  font-size: 30px;
}

#heart4.red {
  color: rgb(163, 7, 7);
}

#heart5 {
  margin-top: 15px; 
  color: grey;  
  font-size: 30px;
}

#heart5.red {
  color: rgb(163, 7, 7);
}

#heart6 {
  margin-top: 15px; 
  color: grey;  
  font-size: 30px;
}

#heart6.red {
  color: rgb(163, 7, 7);
}

#heart7 {
  margin-top: 15px; 
  color: grey;  
  font-size: 30px;
}

#heart7.red {
  color: rgb(163, 7, 7);
}

#heart8 {
  margin-top: 15px; 
  color: grey;  
  font-size: 30px;
}

#heart8.red {
  color: rgb(163, 7, 7);
}

#heart9 {
  margin-top: 15px; 
  color: grey;  
  font-size: 30px;
}

#heart9.red {
  color: rgb(163, 7, 7);
}

#heart10 {
  margin-top: 15px; 
  color: grey;  
  font-size: 30px;
}

#heart10.red {
  color: rgb(163, 7, 7);
}

#heart11 {
  margin-top: 15px; 
  color: grey;  
  font-size: 30px;
}

#heart11.red {
  color: rgb(163, 7, 7);
}





.sort{
  width: 100%;
  background-color: rgba(6, 62, 126, 0.212);
  border: none;
  /* border-radius: 5px; */
  /* margin-top: 10px; */
  /* margin-right: 30px; */
  /* margin-left: 10px; */
  
  color: black;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: start; */
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom:20px;
  
  

}

.sort_options {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
  display:flex;
  flex-direction: row;
  
  justify-content: flex-start;
  width: 100%;
}

.sort-dropdown {
  margin-left: 10px;
  
  

}

.google-map {
padding-bottom: 50%;
position: relative;
}

.google-map iframe {
height: 100%;
width: 100%;
left: 0;
top: 0;
position: absolute;
}



.map{
margin-right: -30px;
display: flex;
flex-direction: row;

}

.mapContractors{

}

.mapList{

}
.maplisting{
list-style-type: none;
  display: flex;
  flex-direction: row; 
  clear: both;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 10px;
  /* border-radius: 5px; */
  background-color: rgba(6, 62, 126, 0.212);
  text-indent: 0; 
  width: 40%;
  padding-right: 20px;
  /* padding-bottom: 10px; */
}

.mapInfo{
width: 40%; 
  height: 100px; 
  background-color: transparent;
  padding-left: 10px; 
  /* padding-bottom: 10px; */
  margin-right: 10px;
  margin-bottom: -5px;
}

.toggle{
  /* margin-top: 10px; */
  width: 100%;
  margin-bottom: 10px;
  margin-right: 20px; 
  /* padding-right: 20px; */
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.show {
  display: flex;
}
.hide{
  display: none;
}

.container {
  overflow: hidden;
}






.contact {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.contact .popuptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  padding-left: 20px;
  padding-right: 20px; 
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* left: 50%; */
  margin-left: -95px;
}



/* Toggle this class - hide and show the popup */
.contact .showPopUp {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
 





.quoteButton{
  width:50px; 
}





/* ******************* . NAV BAR********************* */

/* ------------NAVBAR------------- */

nav{
display: flex;
width: 100%;
background-color: rgba(4, 6, 56, 0.894);
position: fixed;
justify-content: space-between;
box-sizing: border-box;
font-family: 'Kanit', sans-serif;
text-align: center;
padding: 15px 30px;
}

.website-icon button{
font-family: 'Kanit', sans-serif;
font-size: 20px;
background-color: transparent;
border: none;
cursor: pointer;
color: azure;
}

.search-location-bars input{
height: 35px;
border-radius: 10px;
border: solid;
max-width: 100%;
position: relative;
}

.search-location-bars input::placeholder{
padding-left: 10px;
}

.search-location-bars button{
background-color: transparent;
cursor: pointer;
border: none;
position: absolute;
color: azure;
}

.search-location-bars button i:hover{
color: rgb(229, 30, 30);
transition: 0.3s;
}

.login-signup button{
position: relative;
max-width: 100%;
color: white;
font-weight: bold;
height: 35px;
border-radius: 5px;
border: none;
cursor: pointer;
width: 120px;
background-color: #c2452d;
}
.login-signup button:hover{
background-color: white;
color: #c2452d;
transition: 0.3s;
}
.login-signup button:active{
background-color: rgb(141, 27, 5);
color: white;
}

/* --------------BURGER ---------------- */
.openbtn{
background-color: transparent;
border: none;
font-size: 30px;
cursor: pointer;
color: azure;
}

.burger-links {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(4, 6, 56);
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.burger-links a{
padding: 8px 8px 8px 8px;
text-decoration: none;
font-size: 25px;
color: azure;
display: block;
transition: 0.3s;
width: 100%;
font-family: 'Kanit', sans-serif;
border: none;
}

.browse-dropdown-btn, .servicesbtn{
padding: 8px 8px 8px 8px;
text-decoration: none;
font-size: 25px;
color: azure;
display: block;
background-color: rgb(4, 6, 56);
transition: 0.3s;
width: 100%;
font-family: 'Kanit', sans-serif;
border: none;
}

.burger-links a:hover {
color:#c2452d;
transition: 0.3s;
}

.burger-links .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
color: azure;
}

#main {
transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
.burger-links {padding-top: 15px;}
.burger-links a {font-size: 18px;}
}

/* Add an active class to the active dropdown button */
.active {
background-color: #c2452d;
transition: 0.3s;
}

.burger-links .browse-dropdown-btn.active:hover,
.burger-links .servicesbtn.active:hover {
color: black;
transition: 0.3s;
cursor: pointer;
}

.burger-links .browse-dropdown-btn:not(.active):hover,
.burger-links .servicesbtn:not(.active):hover {
color: #c2452d;
transition: 0.3s;
cursor: pointer;
}


.browse-container, .services-container{
display: none;
cursor: pointer;
font-size: 20px;
padding-bottom: 50px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
.burger-links {padding-top: 15px;}
.burger-links a {font-size: 18px;}
}

.nav-header{
display: flex;
}

.review textarea{
display: block;
width: 100%;
margin-bottom: 10px;
border-radius: 5px;
font-family: Arial;
font-size: 15px;
}
.message{
height: 80px;
}
.submit-button {
display: block;
margin: 0 auto; /* This will center the button horizontally */
background-color: #c2452d;
color: white;
font-weight: bold;
height: 35px;
border-radius: 5px;
border: none;
cursor: pointer;
width: 120px;
font-size: 15px;
margin-top: 20px; /* Adjust the top margin as needed */
}

.submit-confirmation{
width: 400px;
background: aliceblue;
border-radius: 6px;
top: 50%;
left: 50%;
position: fixed;
transform: translate(-50%, -50%);
text-align: center;
padding: 0 30px 30px;
color: #333;
z-index: 1000;
visibility: hidden;
}
.open-submit-confirmation{
visibility: visible;
}

.submit-confirmation img{
width: 100px;
margin-top: -50px;
border-radius: 50%;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.submit-confirmation h2{
font-family: sans-serif;
font-size: 30px;
font-weight: bold;
}
.submit-confirmation h3{
font-family: sans-serif;
font-size: 15px;
margin: 30px 0 10px;
}
.submit-confirmation button{
width: 100%;
margin-top: 40px;
padding: 10px 0;
background: rgb(4, 6, 56);
color: white;
border: 0;
outline: none;
font-size: 18px;
border-radius: 4px;
cursor: pointer;
box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
display: none;
z-index: 999; /* Ensure the overlay appears below the popup */
}