body{
    height: 100%;
    margin: 0;
    background-color: aliceblue;
}


ul li{
    text-indent: 0;
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
}

.mainpage {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
   
    margin-bottom: 40px;
    align-content: center;
    height: 100%; 
    
}
@media screen and (min-width: 900px) {
    .mainpage {
      margin-left: 15%; 
      margin-right: 15%;
    }
  }

.browse{
    align-items: center;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    padding-top: 50px;
    
    
}

.breadcrumb{
    display: flex;
    flex-direction: row;
    justify-content:left;
    /* align-items: flex-start; */
    text-align: left;
}


.service_header, .contractor_list{
    /* width: 80%; 
    height: 50px;
    padding-bottom: 15px; 
    
    padding-left: 40px;
    /* margin: auto; */
    
    /* background-color:rgb(4, 6, 56);
    color: white;
    display: flex;
    align-items: normal; */ 
    

    background-color: rgb(4,6,56) ; 
    border: none;
    border-radius: 5px;
    /* margin-top: 10px; */
    /* margin-right: 30%; */
    width: 100%; 
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    color: white;
    display:flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: start; */
   

    
    
    
}
.doll_and_list {
    width:100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: auto;
    
     
    

}

.dollhouse {
    padding-top: 20px;
    display: flex;
    width: 400px;
    height: 400px;
    float: left; 
    max-width: 800px;
}

.doll-buttons {
    position: absolute;

}




.dollImg {
    display: flex; 
    height: 65%; 
    margin-left: 20px;
}
.doll-kitchen{
    margin-top: 182px;
    margin-left: 210px;
    background-color: transparent;
    border: none;
    width: 105px; 
    height: 68px; 
    display: flex;
    position: absolute; 
    text-align: center;
    padding-top: 13px;
    padding-left: 25px;
    font-size: medium;
    transition-duration: 0.2s;
    color:transparent; 
    
}

.doll-kitchen:hover{
    
    background-color:  rgba(128, 128, 128, 0.5);
    color: rgba(0, 0, 0, 1); 
    font-weight: bold;
    
    
}


.doll-kitchen           :focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

.doll-bathroom{
    margin-top: 182px;
    margin-left: 112px;
    background-color: transparent;
    border: none;
    width: 95px; 
    height: 68px; 
    display: flex;
    position: absolute; 
    text-align: center;
    padding-top: 23px;
    padding-left: 13px;
    font-size: medium;
    transition-duration: 0.2s;
    color:transparent;
}

.doll-bathroom:hover{
    background-color:  rgba(128, 128, 128, 0.5);
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

.doll-utility{
    margin-top: 182px;
    margin-left: 40px;
    background-color: transparent;
    border: none;
    width: 68px; 
    height: 68px; 
    display: flex;
    position: absolute; 
    text-align: center;
    padding-top: 23px;
    padding-left: 13px;
    font-size: medium;
    transition-duration: 0.2s;
    color:transparent;
}

.doll-utility:hover{
    background-color:  rgba(128, 128, 128, 0.5);
    color: rgba(0, 0, 0, 1); 
    font-weight: bold;
}

.doll-bathroom2{
    margin-top: 90px;
    margin-left: 246px;
    background-color: transparent;
    border: none;
    width: 68px; 
    height: 88px; 
    display: flex;
    position: absolute; 
    text-align: center;
    padding-top: 40px;
    padding-left: 6px;
    font-size: small;
    transition-duration: 0.2s;
    color:transparent;
}

.doll-bathroom2:hover{
    background-color:  rgba(128, 128, 128, 0.5);
    color: rgba(0, 0, 0, 1); 
    font-weight: bold;
}

.doll-nursery{
    margin-top: 108px;
    margin-left: 146px;
    background-color: transparent;
    border: none;
    width: 95px; 
    height: 70px; 
    display: flex;
    position: absolute; 
    text-align: center;
    padding-top: 25px;
    padding-left: 16px;
    font-size: medium;
    transition-duration: 0.2s;
    color:transparent;
}

.doll-nursery:hover{
    background-color:  rgba(128, 128, 128, 0.5);
    color: rgba(0, 0, 0, 1); 
    font-weight: bold;
}

.doll-bedroom{
    margin-top: 95px;
    margin-left: 40px;
    background-color: transparent;
    border: none;
    width: 102px; 
    height: 83px; 
    display: flex;
    position: absolute; 
    text-align: center;
    padding-top: 33px;
    padding-left: 18px;
    font-size: medium;
    transition-duration: 0.2s;
    color:transparent;
}

.doll-bedroom:hover{
    background-color:  rgba(128, 128, 128, 0.5);
    color: rgba(0, 0, 0, 1); 
    font-weight: bold; 
}

.doll-attic{
    background-color: transparent;
    margin-top: 37px;
    margin-left: 54px;
    /* background-color: red; */
    transform: rotate(-45deg);
    border-left:58px solid transparent;
    border-right: 58px solid transparent;
    border-bottom: transparent;
    border-top: 58px solid transparent; 
    width: 0; 
    height: 0; 
    display: flex;
    position: absolute; 
    text-align: center;
    /* padding-top: 45px;
    padding-left: 50px; */
    font-size: medium;
    transition-duration: 0.2s;
    color:transparent;

    
      
}

.doll-attic:hover{
    
    color: rgba(0, 0, 0, 1); 
    font-weight: bold;
    border-top-color: rgba(128, 128, 128, 1);
}

.doll-attic-text{
    margin-top: 33px;
    margin-left: 70px;
    background-color: transparent;
    border: none;
    /* transform: rotate(-45deg);
    border-left:58px solid transparent;
    border-right: 58px solid transparent;
    border-bottom: transparent;
    border-top: 58px solid transparent; 
    width: 0; 
    height: 0;  */
    
    display: flex;
    position: absolute; 
    text-align: center;
    padding-top: 33px;
    padding-left: 18px;
    font-size: medium;
    transition-duration: 0.2s;
    color:transparent; 
}
.doll-attic-text:hover{
    color: rgba(0, 0, 0, 1); 
    font-weight: bold;
    border-top-color: rgba(128, 128, 128, 0.5); 
}

.doll-office{
    margin-top: 36px;
    margin-left: 146px;
    background-color: transparent;
    border: none;
    width: 95px; 
    height: 68px; 
    display: flex;
    position: absolute; 
    text-align: center;
    padding-top: 25px;
    padding-left: 25px;
    font-size: medium;
    transition-duration: 0.2s;
    color:transparent;
}

.doll-office:hover{
    background-color:  rgba(128, 128, 128, 0.5);
    color: rgba(0, 0, 0, 1); 
    font-weight: bold;
}



.serviceList{
    
    
    max-width: 800px;
    display: flex; 
    flex-direction: column;
    padding-top: 0px;
    float: right; 
    margin-left: 100px;
    font-size: 16px;
    text-indent: 0;
    


}

.browseAll {
    margin-left: 40px;
}

.list{
    display: flex; 
    flex-direction: row; 
    font-size: 16px;
    margin-left: -40px; 
}

.slist{
    display: flex; 
    flex-direction: column; 
    font-size: 16px; 
}

.slist.left{
    list-style-type: none;
    display: table; 
    clear:both; 
    float: left; 
    position: relative; 
    
}
.slist.right{
    list-style-type: none;
    display: table; 
    clear: both; 
    float: right; 
    position: relative;
    
}

.item{
    padding-bottom: 5px;
    list-style-type: none;
    display: table; 
    clear: both;
    text-indent: 0; 
}
.item:hover{
    color:rgb(141,27,5);
    font-weight: bold;
}

.results {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    width: 100%;
    
}


.clist{
    text-indent: 0;
    list-style-position: inside;
    width: 100%;
    margin-left: -20px;
    padding-right: 20px; 
    
   
}

.clisting{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: rgba(6, 62, 126, 0.212);
    text-indent: 0; 
    width: 100%;
    padding-right: 30px;
}
.clisting1{
    list-style-type: none;
    display:flex;  
    flex-direction: row; 
    justify-content: space-evenly;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: rgba(6, 62, 126, 0.212);
    text-indent: 0; 
    width: 100%;
    /* padding-right: 30px; */
    
}

.c-info{
    width: 100%; 
    background-color: transparent;
    padding-left: 10px; 
    padding-bottom: 10px;
    /* padding-right: 20px; */
}

.listing-img{
    display: flex; 
    float: left; 
    width: 200px; 
    height: 200px; 
    margin-left: 20px; 
    margin-top: 10px; 
    border-radius: 5px;
    /* padding-right: 20px; */
}

.c-listing-buttons{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content:flex-start;
    
}

.price{
    margin-left: 30px; 
    margin-top: 25px; 
}

.c-rating{
    /* align-items: self-end; */
    margin-left: 20px;
    margin-top: 10px; 
    /* width: 20%;  */
    /* justify-content: right; */
}
.c-rating i{
    color: rgb(255, 123, 0);
    font-size: 15px;
  }

  #heart {
    margin-top: 15px; 
    color: grey;  
    font-size: 30px;
  }
  
  #heart.red {
    color: rgb(163, 7, 7);
  }

  #heart1 {
    margin-top: 15px; 
    color: grey;  
    font-size: 30px;
  }
  
  #heart1.red {
    color: rgb(163, 7, 7);
  }

  #heart2 {
    margin-top: 15px; 
    color: grey;  
    font-size: 30px;
  }
  
  #heart2.red {
    color: rgb(163, 7, 7);
  }

  #heart3 {
    margin-top: 15px; 
    color: grey;  
    font-size: 30px;
  }
  
  #heart3.red {
    color: rgb(163, 7, 7);
  }

  #heart4 {
    margin-top: 15px; 
    color: grey;  
    font-size: 30px;
  }
  
  #heart4.red {
    color: rgb(163, 7, 7);
  }

  #heart5 {
    margin-top: 15px; 
    color: grey;  
    font-size: 30px;
  }
  
  #heart5.red {
    color: rgb(163, 7, 7);
  }

  #heart6 {
    margin-top: 15px; 
    color: grey;  
    font-size: 30px;
  }
  
  #heart6.red {
    color: rgb(163, 7, 7);
  }

  #heart7 {
    margin-top: 15px; 
    color: grey;  
    font-size: 30px;
  }
  
  #heart7.red {
    color: rgb(163, 7, 7);
  }

  #heart8 {
    margin-top: 15px; 
    color: grey;  
    font-size: 30px;
  }
  
  #heart8.red {
    color: rgb(163, 7, 7);
  }

  #heart9 {
    margin-top: 15px; 
    color: grey;  
    font-size: 30px;
  }
  
  #heart9.red {
    color: rgb(163, 7, 7);
  }

  #heart10 {
    margin-top: 15px; 
    color: grey;  
    font-size: 30px;
  }
  
  #heart10.red {
    color: rgb(163, 7, 7);
  }

  #heart11 {
    margin-top: 15px; 
    color: grey;  
    font-size: 30px;
  }
  
  #heart11.red {
    color: rgb(163, 7, 7);
  }

  .clistingName {

  }
  .clistingName:hover {
    color: rgb(141,27,5);
  }
  #c1 {
    color:black; 
  }
  #c1:hover{
    color: rgb(141,27,5); 
  }

  #c1.visited{
    color:#5a01a7; 
  }

  

.sort{
    width: 100%;
    background-color: rgba(6, 62, 126, 0.212);
    border: none;
    border-radius: 5px;
    /* margin-top: 10px; */
    /* margin-right: 30%; */
    padding-left: 20px;
    /* padding-right: 10px; */
    color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: start; */
    padding: 20px;
    
    

}

.sort_options {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    display:flex;
    flex-direction: row;
    
    justify-content: flex-start;
    width: 100%;
}

.sort-dropdown {
    margin-left: 10px;
    
    

}

.toggle{
    /* margin-top: 10px; */
    width: 100%;
    margin-bottom: 10px;
    margin-right: 20px; 
    /* padding-right: 20px; */
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  /* input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  } */
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .show {
    display: flex;
  }
  .hide{
    display: none;
  }

  .container {
    overflow: hidden;
  }







.quoteButton{
    width:50px; 
}

