body {
  height: 100%;
  margin: 0;
  background-color: aliceblue;
}

.mainpage{
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40px;
  padding-top: 70px;
}

@media screen and (min-width: 900px) {
  .mainpage {
    margin-left: 15%; 
    margin-right: 15%;
  }
}


h1{
  font-weight: normal;
  font-family:kanit; 
}

h2{
  font-weight:normal; 
  /* padding-left: 15px;  */
  /* padding-top: 8px; 
  padding-bottom: 8px; */
  /* margin-bottom: 10px;
  margin-top: 10px; */
  font-family: kanit;
}

.contractor-intro{
  display: flex;
  flex-direction: row;
  /* display: grid;
  grid-template-columns: 2fr 1fr; */
  height: 100%;
  text-align: center;
  padding-top: 20px;
}

.contractor-info{
  width: 66.6%;
  text-align: justify;
  padding-right: 15px;
}

.contractor-btn-rating{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profileRating{
  margin-left: 6%;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rating i{
  color: rgb(255, 123, 0);
  font-size: 15px;
}

.profileImg{
  /* width: 100% */
  margin-left:40px;
}
.contractor-images img{
  /* height: 280px; */
  width: 280px;
  margin-left:10%;
  margin-right:40px; 
}

 @media screen and (max-width:1300px) {
  .contractor-images {
    width: 12%; /* Hide the images container when the screen is too small */
    height: auto;
   }
  
} 

@media screen and (max-width: 700px) {
  .contractor-images {
    display: none; /* Hide the images container when the screen is too small */
  }

  .contractor-info {
    width: 100%; /* Take the full width when images are hidden */
  }
}

.services-provided{
  display: flex;
  /* justify-content: space-between; */
  column-gap: 3px;
  size: 100%;
  
}

.services-provided button{
  background-color: rgba(6, 62, 126, 0.212);
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  width: 16.6%; 
}

.important-btns{
  padding-top: 20px;
  display: flex;
  /* justify-content: space-between; */
  column-gap: 3px;
  size: 100%;
  width: 66.6%;
  
}
.important-btns button{
  max-width: 100%;
  color: white;
  font-weight: bold;
  height: 35px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 120px;
  background-color: #c2452d;
  font-size: 15px;
  width: 25%;
}
.important-btns button:hover{
  background-color: white;
  color: #c2452d;
  transition: 0.3s;
}
.important-btns button:active{
  background-color: rgb(141, 27, 5);
  color: white;
}
.important-btns button:last-child {
  margin-right: 0;
}

/* CUSTOMER REVIEWS */
.box{
  border-bottom: solid;
  border-bottom-width: 1px;
}
.review-heading, .write-review-heading{
  margin-top: 35px;
  background-color:rgb(4, 6, 56);
  color: white;
}
.comments i{
  color: rgb(255, 123, 0);
  font-size: 15px;
}
.summary{
  font-weight: bold;
}
.image-reviews{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  margin-bottom: 30px;
}
.image-reviews img{
  max-width: 235px; 
  height: 200px; 
}
.descriptive-summary{
  margin-bottom: 30px;
}

.contact {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

/* The actual popup */
.contact .popuptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  padding-left: 20px;
  padding-right: 20px; 
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* left: 50%; */
  margin-left: -40px;
}



/* Toggle this class - hide and show the popup */
.contact .showPopUp {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

#heart {
  margin-top: 7px; 
  margin-left:20px; 
  color: grey;  
  font-size: 30px;
}

#heart.red {
  color: rgb(163, 7, 7);
}

.fa-heart:hover{
  cursor: pointer;
}




/* ------------NAVBAR------------- */

nav{
  display: flex;
  width: 100%;
  background-color: rgb(4, 6, 56);
  position: fixed;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  padding: 15px 30px;
}

.website-icon button{
  font-family: 'Kanit', sans-serif;
  padding-top: 5px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: azure;
}

.search-location-bars input{
  top: 3px;
  height: 35px;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  border: solid;
  max-width: 100%;
  position: relative;
}

.search-location-bars button{
  padding-top: 6px;
  padding-left: 6px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  color: azure;
}

.search-location-bars button i:hover{
  color: rgb(229, 30, 30);
  transition: 0.3s;
}

.login-signup button{
  top: 3px;
  position: relative;
  max-width: 100%;
  color: white;
  font-weight: bold;
  height: 35px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 120px;
  background-color: #c2452d;
}
.login-signup button:hover{
  background-color: white;
  color: #c2452d;
  transition: 0.3s;
}
.login-signup button:active{
  background-color: rgb(141, 27, 5);
  color: white;
}

/* BURGER  */
.openbtn{
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: azure;
}

.burger-links {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(4, 6, 56);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.burger-links a{
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: azure;
  display: block;
  transition: 0.3s;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  border: none;
}

.browse-dropdown-btn, .servicesbtn{
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: azure;
  display: block;
  background-color: rgb(4, 6, 56);
  transition: 0.3s;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  border: none;
}

.burger-links a:hover {
  color:#c2452d;
  transition: 0.3s;
}

.burger-links .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: azure;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .burger-links {padding-top: 15px;}
  .burger-links a {font-size: 18px;}
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #c2452d;
  transition: 0.3s;
}

.burger-links .browse-dropdown-btn.active:hover,
.burger-links .servicesbtn.active:hover {
  color: black;
  transition: 0.3s;
  cursor: pointer;
}

.burger-links .browse-dropdown-btn:not(.active):hover,
.burger-links .servicesbtn:not(.active):hover {
  color: #c2452d;
  transition: 0.3s;
  cursor: pointer;
}


.browse-container, .services-container{
  display: none;
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.services-container {
  display: none;
  overflow-y: auto;
  max-height: calc(100vh - 400px);
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .burger-links {padding-top: 15px;}
  .burger-links a {font-size: 18px;}
}

.nav-footer{
  position: absolute;
  bottom: 60px;
  width: 100%;
  background-color:rgb(4, 6, 56);
  display: flex;
}

.write-review {
  padding-top: 30px;
}

.write-review-heading h2 {
  font-weight: lighter;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.review {
  padding-top: 8px;
}

.review textarea{
  display: block;
  resize: none;
  width: 95%;
  margin-bottom: 10px;
  border-radius: 7px;
  font-family: Arial;
  font-size: 15px;
}
.message{
  padding: 5px 15px 5px 15px;
}
.submit-button {
  display: block;
  margin: 0 auto; /* This will center the button horizontally */
  background-color: #c2452d;
  color: white;
  font-weight: bold;
  height: 35px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 120px;
  font-size: 15px;
  margin-top: 20px; /* Adjust the top margin as needed */
}


  
.submit-confirmation{
  width: 400px;
  background: aliceblue;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  z-index: 1000;
  visibility: hidden;
}
.open-submit-confirmation{
  visibility: visible;
}

.submit-confirmation img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.submit-confirmation h2{
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.submit-confirmation h3{
  font-family: sans-serif;
  font-size: 15px;
  margin: 30px 0 10px;
}
.submit-confirmation button{
  width: 100%;
  margin-top: 40px;
  padding: 10px 0;
  background: rgb(4, 6, 56);
  color: white;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  display: none;
  z-index: 999; /* Ensure the overlay appears below the popup */
}

  .suggestions-dropdown {
    background-color: white;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 200px;
    width: 400px;
    overflow-y: auto;
    position: fixed;
    display: none; /* initially hide the suggestions */
  }
  
  .suggestions-dropdown a {
    display: block; /* Each suggestion link on a separate line */
    padding: 8px;
    text-decoration: none;
    color: black;
  }
  
  .suggestions-dropdown a:hover {
    background-color: #f0f0f0;
  }
  
  
