body {
  height: 100%;
  margin: 0;
  background-color: aliceblue;
}

.mainpage{
font-family: Helvetica, sans-serif;
font-size: 13px;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 40px;
}

@media screen and (min-width: 900px) {
.mainpage {
  margin-left: 15%; 
  margin-right: 15%;
  }
}
.login{
  font-family: Helvetica, sans-serif;
}

.login-box {
border: solid;
border-color: black;
width: fit-content;
color: black;
font-size: 15px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-sizing: border-box;
font-family: 'Kanit', sans-serif;
text-align: center;
padding: 70px;
background: none;
border-radius: 8px;
}


.login-field {
height: 35px;
max-width: 100%;
position: relative;
padding: 5px;
margin-bottom: 15px;
}

table {
margin-top: 20px;
border-collapse:collapse;
width: 100%;
font-size: 15px;
margin-bottom: 20px;
}

td {
text-align: right;
}
td input{
 width: 90%;
}

.loginbtn{
  margin-top: 25px;
  max-width: 100%;
  color: white;
  font-weight: bold;
  font-size: 17px;
  height: 35px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 120px;
  background-color: #9e260e;
}

.loginbtn:active{
  background-color: white;
  color: rgb(141, 27, 5);
}

input:invalid{
  background-image: rgb(126, 141, 189); 
}
input:invalid:required {
  background-image: rgb(63, 64, 70);
}

input:valid {
  border: 2px solid black;
}
