html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background-color: aliceblue;
}
  
.mainpage{
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
    padding-top: 70px;
}
  
@media screen and (min-width: 900px) {
    .mainpage {
      margin-left: 15%; 
      margin-right: 15%;
    }
}
/*----------MAINPAGE------------ */

.my-account-heading{
  margin-top: 35px;
  background-color:rgb(4, 6, 56);
  color: white;
}
.account{
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  padding-top: 20px;
}
.user-profile img{
  margin-top: 50%;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border: solid;
}
.user-profile{
  text-align: center;
  margin-right: 80px;
}

@media screen and (max-width: 700px) {
  .user-profile img {
    display: none;
  }
}

.user-logistics{
  border-left: solid;
  border-left-width: 1px;
}
.posted-images {
  margin-top: 10px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  width: fit-content;
  height: 400px; /* Set the fixed height for the container */
  overflow-y: auto; /* Enable vertical scrollbar */
}

.posted-images span img {
  width: 100%; 
  height: 100%; 
  object-fit:contain; 
  cursor: pointer;
}
.posted-images span p{
  padding-bottom: 10px;
}

.favourite-contractors{
  margin-top: 10px;
}
.favourite-list{
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  gap: 10px;
}
.cont-link{
  background: rgba(6, 62, 126, 0.212);
  height: 100%;
  width: 100%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

table {
  margin-top: 20px;
  background: white;
  border-collapse:collapse;
  width: 100%;
  font-size: 15px;
}

.individual-booking, .booking-heading{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.cancelbtn{
  text-align: center;
}

td {
  text-align: right;
}
.cancel-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
.cancel-btn:active{
  background-color: rgb(141, 27, 5);
}

/* ------------NAVBAR------------- */

nav{
  display: flex;
  width: 100%;
  background-color: rgb(4, 6, 56);
  position: fixed;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  padding: 15px 30px;
}

.website-icon button{
  font-family: 'Kanit', sans-serif;
  padding-top: 5px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: azure;
}

.search-location-bars input{
  top: 3px;
  height: 35px;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  border: solid;
  max-width: 100%;
  position: relative;
}

.search-location-bars button{
  padding-top: 6px;
  padding-left: 6px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  color: azure;
}

.search-location-bars button i:hover{
  color: rgb(229, 30, 30);
  transition: 0.3s;
}

.login-signup button{
  top: 3px;
  position: relative;
  max-width: 100%;
  color: white;
  font-weight: bold;
  height: 35px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 120px;
  background-color: #c2452d;
}
.login-signup button:hover{
  background-color: white;
  color: #c2452d;
  transition: 0.3s;
}
.login-signup button:active{
  background-color: rgb(141, 27, 5);
  color: white;
}

/* BURGER  */
.openbtn{
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: azure;
}

.burger-links {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(4, 6, 56);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.burger-links a{
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: azure;
  display: block;
  transition: 0.3s;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  border: none;
  text-align: left;
  
}

.browse-dropdown-btn, .servicesbtn{
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: azure;
  display: block;
  background-color: rgb(4, 6, 56);
  transition: 0.3s;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  border: none;
  text-indent: 25px;
}

.burger-links a:hover {
  color:#c2452d;
  transition: 0.3s;
}

.burger-links .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: azure;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .burger-links {padding-top: 15px;}
  .burger-links a {font-size: 18px;}
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #c2452d;
  transition: 0.3s;
}

.burger-links .browse-dropdown-btn.active:hover,
.burger-links .servicesbtn.active:hover {
  color: black;
  transition: 0.3s;
  cursor: pointer;
}

.burger-links .browse-dropdown-btn:not(.active):hover,
.burger-links .servicesbtn:not(.active):hover {
  color: #c2452d;
  transition: 0.3s;
  cursor: pointer;
}


.browse-container, .services-container{
  display: none;
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.services-container {
  display: none;
  overflow-y: auto;
  max-height: calc(100vh - 400px);
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .burger-links {padding-top: 15px;}
  .burger-links a {font-size: 18px;}
}

.nav-footer{
  position: absolute;
  bottom: 60px;
  width: 100%;
  background-color:rgb(4, 6, 56);
  display: flex;
  text-align: center;
}

.write-review {
  padding-top: 30px;
}

.write-review-heading h2 {
  font-family: 'Kanit';
  font-weight: lighter;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.review {
  padding-top: 8px;
}

.review textarea{
  display: block;
  resize: none;
  width: 95%;
  margin-bottom: 10px;
  border-radius: 7px;
  font-family: Arial;
  font-size: 15px;
}
.message{
  padding: 5px 15px 5px 15px;
}
.submit-button {
  display: block;
  margin: 0 auto; /* This will center the button horizontally */
  background-color: #c2452d;
  color: white;
  font-weight: bold;
  height: 35px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 120px;
  font-size: 15px;
  margin-top: 20px; /* Adjust the top margin as needed */
}


  
.submit-confirmation{
  width: 400px;
  background: aliceblue;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  z-index: 1000;
  visibility: hidden;
}
.open-submit-confirmation{
  visibility: visible;
}

.submit-confirmation img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.submit-confirmation h2{
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.submit-confirmation h3{
  font-family: sans-serif;
  font-size: 15px;
  margin: 30px 0 10px;
}
.submit-confirmation button{
  width: 100%;
  margin-top: 40px;
  padding: 10px 0;
  background: rgb(4, 6, 56);
  color: white;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  display: none;
  z-index: 999; /* Ensure the overlay appears below the popup */
}

  .suggestions-dropdown {
    background-color: white;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 200px;
    width: 400px;
    overflow-y: auto;
    position: fixed;
    display: none; /* initially hide the suggestions */
  }
  
  .suggestions-dropdown a {
    display: block; /* Each suggestion link on a separate line */
    padding: 8px;
    text-decoration: none;
    color: black;
  }
  
  .suggestions-dropdown a:hover {
    background-color: #f0f0f0;
  }
  
  